language: python
services:
  - docker
python:
  - "2.7"
install:
  - make deps         
script:
  - make test
after_success:
  - make docker_build
  - PASSWORD=${DOCKER_PASSWORD} make docker_push
deploy:
  provider: heroku
  app: fathomless-chamber-46646
  api_key: ${HEROKU_API_KEY}
